@model WALASEBAI.Models.PFE

@{
    ViewData["Title"] = "Edit";
}

<div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                <a href="../dist/index.html" class="text-gray-500">
                    <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Apps</li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Projet Fin d'Etudes</li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Edit</li>
        </ul>
        <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-1 lh-0">Projet Fin d'Etudes</h1>
    </div>
    <a asp-action="Index" class="btn btn-danger ms-3 px-4 py-3">Back to list</a>
</div>

<hr />

        <form asp-action="Edit" class="form fv-plugins-bootstrap5 fv-plugins-framework">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <label asp-for="Titre" class="required fs-6 fw-semibold mb-2"></label>
                <input asp-for="Titre" class="form-control form-control-solid" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <label asp-for="Desc" class="required fs-6 fw-semibold mb-2"></label>
                <input asp-for="Desc" class="form-control form-control-solid" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <label asp-for="DateD" class="required fs-6 fw-semibold mb-2"></label>
                <input asp-for="DateD" class="form-control form-control-solid" />
                <span asp-validation-for="DateD" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <label asp-for="DateF" class="required fs-6 fw-semibold mb-2"></label>
                <input asp-for="DateF" class="form-control form-control-solid" />
                <span asp-validation-for="DateF" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <label asp-for="EncadrantID" class="required fs-6 fw-semibold mb-2"></label>
                <select asp-for="EncadrantID" class="form-control form-control-solid" asp-items="ViewBag.EncadrantID"></select>
                <span asp-validation-for="EncadrantID" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <label asp-for="SocieteID" class="required fs-6 fw-semibold mb-2"></label>
                <select asp-for="SocieteID" class="form-control form-control-solid" asp-items="ViewBag.SocieteID"></select>
                <span asp-validation-for="SocieteID" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
