@model WALASEBAI.Models.Soutenance

@{
    ViewData["Title"] = "Edit";
}


<div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                <a href="../dist/index.html" class="text-gray-500">
                    <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Apps</li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Soutenances</li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Edit</li>
        </ul>
        <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-1 lh-0">Soutenances</h1>
    </div>
    <a asp-action="Index" class="btn btn-danger ms-3 px-4 py-3">Back to list</a>
</div>

<hr />



        <form asp-action="Edit" class="form fv-plugins-bootstrap5 fv-plugins-framework" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <label asp-for="Date" class="required fs-6 fw-semibold mb-2"></label>
                <input asp-for="Date" class="form-control form-control-solid" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <label asp-for="Heure" class="required fs-6 fw-semibold mb-2"></label>
                <input asp-for="Heure" class="form-control form-control-solid" />
                <span asp-validation-for="Heure" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <label asp-for="PFEID" class="required fs-6 fw-semibold mb-2"></label>
                <select asp-for="PFEID" class="form-control form-control-solid" asp-items="ViewBag.PFEID"></select>
                <span asp-validation-for="PFEID" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <label asp-for="PresidentID" class="required fs-6 fw-semibold mb-2"></label>
                <select asp-for="PresidentID" class="form-control form-control-solid" asp-items="ViewBag.PresidentID"></select>
                <span asp-validation-for="PresidentID" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <label asp-for="RapporteurID" class="required fs-6 fw-semibold mb-2"></label>
                <select asp-for="RapporteurID" class="form-control form-control-solid" asp-items="ViewBag.RapporteurID"></select>
                <span asp-validation-for="RapporteurID" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </form>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
