@model WALASEBAI.Models.Soutenance

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Soutenance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heure" class="control-label"></label>
                <input asp-for="Heure" class="form-control" />
                <span asp-validation-for="Heure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PFEID" class="control-label"></label>
                <select asp-for="PFEID" class="form-control" asp-items="ViewBag.PFEID"></select>
                <span asp-validation-for="PFEID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresidentID" class="control-label"></label>
                <select asp-for="PresidentID" class="form-control" asp-items="ViewBag.PresidentID"></select>
                <span asp-validation-for="PresidentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RapporteurID" class="control-label"></label>
                <select asp-for="RapporteurID" class="form-control" asp-items="ViewBag.RapporteurID"></select>
                <span asp-validation-for="RapporteurID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
